@import '../../styles/resources.scss';

.movieTitle {
  display: block;
  border: 1px solid $color-gray;
  border-radius: 5px;
  width: 500px;
  color: black;
  text-decoration: none;
}

.movieImage {
  border: 1px solid $color-gray;
  border-radius: 5px;
}

.movieTitle:hover {
  background: $color-gray;
}

.good {
  color: $color-blue;
}

.soso {
  color: $color-green;
}

.bad {
  color: $color-red;
}