.App {
  padding: 20px;
}

.appTitle {
  font-size: 36px;
  text-align: center;
}

.movie {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.movie .movieImage {
  width: 150px;
}

.movie .movieTitle {
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.movie .movieTitle:hover {
  background-color: gray;
}

.movie .movieYear {
  font-size: 0.5rem;
  color: red;
}